<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140914815553-k3527s6ahir2lalf6fhouflga23hv9a0.apps.googleusercontent.com</string>
	<key>CLIENT_SECRET</key>
	<string>yhtexBDanQ3d0BYiEg36PaCJ</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140914815553-k3527s6ahir2lalf6fhouflga23hv9a0</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spuleri.Guardian</string>
	<key>PROJECT_ID</key>
	<string>guardian-62405</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:140914815553:ios:d1a00c49912153c0</string>
</dict>
</plist>
